<html>
<style type="text/css">
  div.l{
    text-align: right;
  }
</style>
<body>
<h4> Welcome to Your Profile </h4>
<p>Logged in as: <%= @current_user.name %> </p>

<%= image_tag @current_user.profile_picture ,size: "150"%>
<div>
<p><%=@current_user.username %></p>
</div>

<div>
  <%= link_to 'Followers', follower_path(token: @token) %>
  <br> </br>
  <%= link_to 'Following', following_path(token: @token) %>
</div>
<br>
<div>
  <%= link_to 'Create a new post',new_post_path(token: @token) %>
  <br>
  <br>
  <%=link_to 'Show all posts',all_posts_path(token: @token,user:@current_user) %>
</div>
<span>
  <p> Posts: <%= @current_user.posts.count %>
    Followers: <%= @current_user.followers.count %>
    Following: <%= @current_user.followees.count %> </p>
</span>
<%= link_to 'Search User', searches_user_path(token:@token)  %>
<br>
<br>


<br>
</body>
</html>

