<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style type="text/css">
    body{
      background-color:wheat;
    }
    div.a{
      text-align: right;
    }
  </style>
  <body>
    <span>
    <h3 style="color:white;background-color: black;"><u>Instagram</u>
      <% if @current_user.present? %>
        <div class="a"> <%= @current_user.username %> </div>
        <div class="l" >
          <%= link_to "logout",logout_path(logged:params[:logged],user:@current_user) %>
        </div> </h3>
      </span>
      <%end%>
    <%= yield %>
  </body>
</html>
